aiofiles
aiohttp==3.7.3
asyncio==3.4.3
beautifulsoup4
bs4
carbonnow
ffmpeg
ffmpeg-python
ffmpeg-python
git+https://github.com/subinps/pyrogram@inline-m
glitch_this
googletrans==4.0.0-rc1
gTTS
humanize
imdbpy==2021.4.18
marshmallow==3.14.1
motor==2.5.1
NumPy
opencv-python-headless
psutil
pymongo[srv]==3.12.3
pypdf2
PyPDF2
pypng
pyrogram
pyromod~=1.5
pyshorteners
py-tgcalls
python-dotenv
python-telegram-bot==11.1.0
requests
search_engine_parser
telegraph
tgcrypto
ujson
umongo==3.0.1
wget
wheel
youtube_search
youtube_search_python
youtube-dl
youtube-search-python==1.4.6
ytthumb
countryinfo
domain-extract
hashtags_extract
pendulum
Pillow>=4.2.0
Pymoe
yt_dlp
speedtest-cli
string-extract
pytesseract
python-decouple
